@font-face {
  font-family: 'Creepster';
  src: url('../fonts/Creepster-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 700;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
blockquote,
input,
textarea,
button,
.mat-typography {
  font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
blockquote,
input,
textarea,
button,
.mat-typography {
  &.creepster {
    font-family: 'Creepster', cursive;
  }
}
