// Core
$color-core-background: #ffffff;
$color-core-foreground: #ffffff;
$color-core-content: #ffffff;
$color-core-content-low: #ffffff;
$color-core-border: #ffffff;

// Neutral
$color-neutral-foreground: #ffffff;
$color-neutral-surface-lower: #ffffff;
$color-neutral-surface: #ffffff;
$color-neutral-content: #ffffff;
$color-neutral-content-high: #ffffff;
$color-neutral-content-higher: #ffffff;
$color-neutral-border: #ffffff;

// TODO: - Add meaningfull names to colors below
// Secondary
$a: #0a0a0a;
$b: #ffffff;
$c: #3d3d3d;
$d: #00b5cc;
$e: #b2df28;
$f: #5d5d5d;
