// Core
$color-core-background: #1f1f1f;
$color-core-foreground: #0a0a0a;
$color-core-content: #fafafa;

$color-core-content-low: #a4a4a4;
$color-core-border: #3d3d3d;

// Neutral
$color-neutral-foreground: #ffffff;
$color-neutral-surface-lower: #1f1f1f;
$color-neutral-surface: #ffffff;

$color-neutral-content: #a4a4a4;
$color-neutral-content-high: #cacaca;
$color-neutral-content-higher: #f2f2f2;

$color-neutral-border: #3d3d3d;

// Secondary
$color-secondary-background: #0a0a0a;
$color-secondary-foreground-light: rgba(255, 255, 255, 0.01);
$color-secondary-border: #3d3d3d;
$color-secondary-accent: #00b5cc;
$color-secondary-highlight: #b2df28;
$color-secondary-surface: #5d5d5d;
